h1{
  background-color: none;
  text-align: center;
  font-family: 'Lobster Two', cursive;
  color: #dadafc;
  padding: 16px;
  font-size: 50px;
  border: none;
  
  
}

body{
  background-color: #efbad6;
}

#fact{
  background-color: #fef5d4;
  padding: 10px 30px 50px 30px;
  margin: 30vh 20vw;
  font-family: 'Lobster Two', cursive;
  filter: drop-shadow(3px 3px 4px rgba(0,0,0,.5));
  border-radius: 4px;
  margin-top: 10px;
  

}

#ftext{
  color: #ffd6aa;
  margin-bottom: 20px;
  font-size: 40px;
}


#fbutton{
  float: right;
  padding: 8px 40px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 18px;
  background-color: #dadafc;
  color: black;
  border-radius: 15px;
  font-family: 'Lobster Two', cursive;
 
}

#fbutton:hover{
  border: 3px white solid;
}

#fbutton:active{
  background-color: white;
}

#quote{
  background-color: #fef5d4;
  padding: 10px 30px 50px 30px;
  margin: 30vh 20vw;
  font-family: 'Lobster Two', cursive;
  filter: drop-shadow(3px 3px 4px rgba(0,0,0,.5));
  border-radius: 4px;
  margin-top: 2px;
  
}

#qtext{
  color: #ffd6aa;
  margin-bottom: 20px;
  font-size: 40px;
}


#qbutton{
  float: right;
  padding: 8px 40px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-size: 18px;
  background-color: #dadafc;
  color: black;
  border-radius: 15px;
  font-family: 'Lobster Two', cursive;
 
 
}

#qbutton:hover{
  border: 3px white solid;
}

#qbutton:active{
  background-color: white;
}




